.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.circle-badge {
  display: inline-block; /* Allow text inside the circle */
  width: 20px; /* Adjust size as needed */
  height: 20px;
  background-color: red;
  color: white;
  text-align: center; /* Center the text */
  line-height: 20px; /* Match height for vertical centering */
  border-radius: 50%; /* Create the circle shape */
  font-size: 12px; /* Adjust font size for readability */
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}
